<!DOCTYPE html>
{% extends "index.html"%}
{% block body_block %}
<button type="button" id="btn1" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Show</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'teacher:viewattendance' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{teacher_id}}" name="student_id">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Course:</label>
                        <select type="text" class="form-control form-control-user" id="exampleInputPassword"
                            name="course_code">

                            <option required>Select Course</option>
                            {% for obj in course %}
                            <option value="{{obj.course_code}}">{{obj.course_name}}</option>   
                            {% endfor %}               
                        </select>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Show</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>
{% endblock%}